@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/static/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
